
@import url('https://fonts.google.com/specimen/Red+Hat+Display');
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("/images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color:hsl(225, 100%, 94%);
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
}
/*.background{
    background-image: url("/simple-design/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    }
*/

p {
    font-size: 12px;
    font-weight: 500;
    color: hsl(224, 23%, 55%)
}

.written p {
    font-size: 1.7vh;
}

h3 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
h5{
    color: hsl(223, 47%, 23%);
    font-weight: 700;
    font-size: 12px; 
    margin-top: 15px;
}

#small {
    font-weight: 400;
}

#header3{
    margin-bottom: 2vh;
}

.boxed-content{
    border-radius: 20px;
    box-sizing: border-box;
    width: 25%;
    height: 70%;
    position: relative;
    margin: auto;
    box-shadow: 0 2px 30px 1px rgba(48, 38, 109, 0.2); 
    overflow: hidden; 
    background: white;
    display: flex;
    flex-direction: column;
}

.image-container {
    width: 100%;
    height: 35%;
    background: url(/images/illustration-hero.svg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    background-position: 50% 50% 
}

.written {
    position: relative;
    top: 10px;
    width: 80%;
}
.content {
    height: 75%;
    width: 100%;
    text-align: center;
    font-family:'Red Hat Display', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plan-box{
    height: 20%;
    width: 80%;
    margin-top: 4vh;
    border-radius: 10px;
    background: hsl(225, 100%, 98%);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#music {
    width: 5vh;
    position: absolute;
    left: 1vh;
    top: 2vh;
}

#annual-plan {
    font-size: 1.5vh;
    font-weight: 900;
    position: relative;
    left: -2vw;
}

#change {
    position:absolute;
    right: 2vh;
    top: 3vh;
    color:  hsl(245, 75%, 52%);
    font-size: 2vh;
}

.payment {
    border-radius: 10px;
    box-shadow:  0px 10px 8px rgba(171, 175, 228, 0.8);
    margin-top: 2vh;
    height: 5vh;
    width: 80%;
    text-align: center;
    background-color: hsl(245, 75%, 52%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#proceed {
    color: white;
    font-weight: 700;
    font-size: 1.5vh;
}

.last {
    display: flex;
    margin-top: 4vh;
}

#cancel {
    color: hsl(223, 47%, 23%);
    font-size: 1.5vh;
    font-weight: 800;
    z-index: 2;
}/*
a:link {
    text-decoration: none;
}*/
a:hover {
    cursor: pointer;
}
.payment:hover{
    cursor: pointer;
    background-color: rgb(123, 123, 235);
}
#cancel:hover{
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {

    #header3 {
        font-size: 2vh;
    }

    #annual-plan {
        font-size: 1.5vh;
    }
    #music {
        width: 6vh ;
    }

    .boxed-content {
        width: 50%;
    }

    #change {
        font-size: 1.9vh;
    }
}

@media only screen and (max-width: 800px) {
    .boxed-content {
        width: 70%;
        height: 70%;
    }

}
@media only screen and (max-width: 650px) {
    .boxed-content {
        width: 60%;
        height: 60%;
    }

}

@media only screen and (max-width: 550px) {
    .boxed-content {
        width: 80%;
        height: 80%;
    }

}

@media only screen and (max-width: 375px) {
    .boxed-content {
        width: 80%;
        height: 80%;
    }

}

@media only screen and (max-width: 280px) {
    #annual-plan {
        font-size: 1.2vh;
    }
    #music {
        width: 5vh ;
    }

    #change {
        font-size: 1.5vh;
    }

    #proceed {
        font-size: 1.5vh;
    }
}

@media only screen and (min-height:1250px) {
    .boxed-content {
        width: 65% ;
    }
    
}