@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #c85838;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.container {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
p {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 3vh;
  text-align: center;
  font-family: 'Lobster', cursive;
}
#yoda {
  height: auto;
  width: 15rem;
}
.form {
  padding: 1rem;
  width: 10rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #ffdad0;
}
input::placeholder {
  color: black;
  text-align: center;
}
.button {
  width: 5rem;
  height: 2rem;
  position: relative;
  top: 1rem;
  left: 3.5rem;
  border: none;
  border-radius: 5px;
  background-color: #6e3d32;
  cursor: pointer;
  color: white;
}
/*
#confetti {
    width: 5rem;
    display: block;
    margin: auto;
    position: relative;
    animation: upDown 1s linear 1s infinite alternate;
    
}
@keyframes upDown {
      0%  {top: 10px}
	  25%  {top:15px}
	  50%  {top:20px;}
	  75%  {top:25px;}
	  100% {top:30px;}
}*/
